.movie-images {
  background-color: white;
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  float: left;
    z-index: 100;
}

ul.movie-thumbs li {
  border: 1px solid black;
  display: inline-block;
  background-color: black;
    margin: 5px;
}

ul.movie-thumbs img {
  height: 100px;
  width: 100px;
  padding: 0.5em;
}
