<about>
        <button ng-click="back()">
            <img ng-src="img/design/backarrow.svg" height="30px">
            Back to Movie List
        </button>
    <div class="row">
        <div class="col-md-12 text">
        <div>
            <p> 
                This application (MCU-Reviews) was made with the intention to give some reviews to the Marvel Cinematic Universe Movies. 
            </p>
            <p>
                My name is Andrés Cerón and I am a web developer, this application will be on continued development. 
            </p>
            If you have any suggestion or find an issue, feel free to <a ng-href="#/contact">contact me</a>, or even if you just want to tell me that you liked the application.
            </p>
            </br>
                    <p>
                        Credits to <a ng-href="http://www.imdb.com">IMDb</a>, <a ng-href="http://www.marvel.com">Marvel</a> and <a ng-href="http://marvelcinematicuniverse.wikia.com">MCU Wikia</a> for the pictures, all pictures belongs the them, I do not owe the Copyright of the picture, just for the application.
            </p>
        </div>
<a ng-href="http://www.andresceron.se/"><img ng-src="img/design/AndresCeron-logo.svg" height="200px"/></a>
        </div>
    </div>
</about>