<footer>
    <div class="row">
        <div class="col-md-3"  ng-controller="AboutCtrl">
            <button class="links" ng-click="goTo('/about')">About</button> |
            <button class="links" ng-click="goTo('/contact')">Contact</button>
        </div>
        <div class="col-md-6">
            <button>
                <a ng-href="http://www.andresceron.se/" target="_blank">
                    <img ng-src="img/design/AndresCeron-logo.svg" height="70px"/>
                </a>
            </button>
        </div>
        <div class="col-md-3">
            <p class="copyright">&copy; 2015 All Right Reserved </p>
        </div>
    </div>
</footer>